
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Henny+Penny&family=Source+Code+Pro:wght@400;700&display=swap');

html {
  cursor: url("images/owl.png"),
     auto;
 }

body {
  background-color: rgb(26, 26, 26);
}

h1 {
  color: white;
  margin: 100px;
  font-family:'Courier New', Courier, monospace;
  font-size: 50px;
}

div {
  display: flex;
  position: relative  ;
    justify-content: center;
  align-items: flex-end;


  /* top: 50px */
}

h2 {
  color: white;
}
div h2 {
  position: absolute;
  width: 80%;
  font-size: 30px;

  /* top: 50%;
  left: 50%; */
  /* top: 30px; */
  /* left: 50%; */
  text-align: center;
  opacity: 0;

}

div:hover h2 {
  opacity: 1;
  background-color: black;
}


.garden {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  background-color: rgb(26, 26, 26);
  height: auto;
  width: auto;

  margin-left: 100px;
  margin-top: 100px;
  margin-right: 100px;
  margin-bottom: 100px;

  /* display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px; */
  
}

audio {
  margin: 100px;
}

p {
  color: rgb(195, 211, 17)
  
}

.imagesize {
  height: 300px;
  padding: 10px;
  
}

/* .imagesize:hover {
  height: 300px;
  padding: 10px;
  filter: opacity(80%);
  filter: blur(10px);
} */

/* .row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.column {
  padding: 1rem 0;
  flex: 1;
} */

/* @media only screen and (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }

  .column {
    flex-basis: 100%
  }
} */